.weather__city{
    font-size: 2rem;
    padding-left: 1rem;
    color: rgb(230, 230, 230);
}
.weather__search{
    width: 12rem;
    font-size: 2rem;
    color: rgb(230, 230, 230);
    position: absolute;
    background-color: transparent;
    top: 24px;
    padding: 5px;
    left: 24px;
    height: 30px;
    border-radius: 4px;
    border: 2px solid rgba(230, 230, 230, 0.7);
    outline-color: transparent;
}